body {
    background-image:url("img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#loginForm, #complSignupForm{
    height: 60vh;
    width: 30vw;
    background-color: rgba(66, 219, 94, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

#signupForm{
    height: 75vh;
    width: 40vw; 
    background-color: rgba(66, 219, 94, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 58%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}




#loginForm >* :not(h3), #signupForm >* :not(h3), #complSignupForm >* :not(h3){
    font-family: 'Poppins', sans-serif;
    color: #1bb022;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

#loginForm h3, #signupForm h3, #complSignupForm h3{
    text-align: center;
}

#loginForm label, #signupForm label, #complSignupForm label{
    display: block;
    margin-top: 3vh;
    /* font-size: 16px;
    font-weight: 500; */
}

#loginForm input, #signupForm input,select, #complSignupForm input, textarea{
    display: block;
    height: 6vh;
    width: 100%;
    background-color: rgba(54, 52, 52, 0.07);
    border-radius: 3px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#complSignupForm textarea {
    height:20vh;
    resize: none;
}

#loginForm ::placeholder, #signupForm ::placeholder, #complSignupForm ::placeholder{
    color: #020202;
}

#loginForm button, #signupForm button, #complSignupForm button{
    margin-top: 2vh;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#icon {
    width: 20vh;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px ;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px ;

}

#p{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.nav-links {
    display: flex;
    align-items: center;
    background: #ffffff87;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li a {
    position: relative;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: rgba(66, 219, 94, 0.762);
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before {
    width: 100%;
}

.nav-links li.center a:before {
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

.nav-links li.upward a:hover:before {
    bottom: 0px;
    opacity: 1;
}

.nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}
