{%extends "base.html"%}

{% block nav_content %}
{% if user.tipo == 'datore' %}
    <button id="">
        <a class="a" href="">Aggiungi offerta</a>
    </button>
    <button id="">
        <a class="a" href="">Le tue offerte</a>
    </button>
    <button id="">
        <a class="a" href="">Candidature</a>
    </button>
    {% else %}
    <button id="">
        <a class="a" href="/intro">Candidature</a>
    </button>
    <button id="">
        <a class="a" href="/home">Home</a>
    </button>
    {% endif %}
{%endblock%}


{% block content %}

<div class="chat-list">
        <!-- Chat 1 -->
        <div class="chat">
            <h2>Mario Rossi</h2>
            <p>Ultimo messaggio: Ciao, come stai?</p>
        </div>
        <!-- Chat 2 -->
        <div class="chat">
            <h2>Luisa Bianchi</h2>
            <p>Ultimo messaggio: Ci vediamo domani alle 15?</p>
        </div>
        <!-- Chat 3 -->
        <div class="chat">
            <h2>Anna Verdi</h2>
            <p>Ultimo messaggio: Grazie per l'aiuto!</p>
        </div>
        <!-- Aggiungi altre chat qui -->
</div>
{%endblock%}
