{% extends "base.html" %}

{% block nav_content %}
    <button id="home_btn">
        <a class="a" href="/home">Home</a>
    </button>
    <button id="chat_btn">
        <a class="a" href="/chats">Chat</a>
    </button>
    {% if tipo == 'datore' %}
        <button id="aggiungi_offerta_btn">
            <a class="a" href="/aggiungi-offerta">Aggiungi offerta</a>
        </button>
        <button id="offerte_btn">
            <a class="a" href="/offerte">Offerte</a>
        </button>
        <button id="candidature_btn_datore">
            <a class="a" href="/candidature">Candidature</a>
        </button>
    {% else %}
        <button id="candidature_btn">
            <a class="a" href="/candidature">Candidature</a>
        </button>
        <button id="preferiti_btn">
            <a class="a" href="/preferiti">Preferiti</a>
        </button>
    {% endif %}
{% endblock %}

{% block content %}
<div class="chat-list">
    {% for chat in chats %}
        <div type="button" class="chat">
            <h2>{{ chat.nome }}</h2>
            <p>Ultimo messaggio: {{ chat.ultimo_messaggio }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}