{%extends "base.html"%}

{% block navcontent %}
    {% if tipo == 'datore' %}
        <button id="">
            <a class="a" href="/addOfferta">Aggiungi offerta</a>
        </button>
    {% elif tipo == 'candidato' %}
        <button id="">
            <a class="a" href="/preferiti">Preferiti</a>
        </button>
    {% endif %}
{% endblock %}


{% block content %}
<form class="form" id="complSignupForm" method="post">
    {% csrf_token %}
    <h3>Sign up</h3>
    {{ form.as_p }}
    <button type="submit">Sign up</button>    
    <p class="p">Hai già un account? <a id="login" href="/login">Login</a></p>
</form>

{%endblock%}