{%extends "base.html"%}
{% block nav_content %}
    {% if user.tipo == 'datore' %}
    <button id="">
        <a class="a" href="/intro">Aggiungi offerta</a>
    </button>
    <button id="">
        <a class="a" href="/intro">Offerte</a>
    </button>
    <button id="">
        <a class="a" href="/chat">Candidature</a>
    </button>
    <button id="">
        <a class="a" href="/chat">Chat</a>
    </button>
    {% else %}
    <button id="">
        <a class="a" href="/intro">Candidature</a>
    </button>
    <button id="">
        <a class="a" href="/home">Home</a>
    </button>
    <button id="">
        <a class="a" href="/chat">Chat</a>
    </button>
    {% endif %}

{% endblock %}