{% extends "base.html" %}


{% block content %}
    <div class="container">
        <table class="job-list">
            <thead>
                <tr>
                    <th>Impiego</th>
                    <th>Descrizione</th>
                    <th>Stipendio</th>
                    <th>Requisiti</th>
                    <th>Località</th>
                    <th>Data di necessità</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for offerta in offerte %}
                <tr>
                    <td>{{ offerta.impiego }}</td>
                    <td>{{ offerta.descrizione }}</td>
                    <td>{{ offerta.stipendio }}</td>
                    <td>{{ offerta.requisiti }}</td>
                    <td>{{ offerta.luogo }}</td>
                    <td>{{ offerta.data|date:"d/m/Y" }}</td>
                    {% if tipo == 'candidato' %}
                        <td>
                            <div class="actions">
                                <form action="{% url 'candidati' offerta.id %}" method="post" class="action-form">
                                    {% csrf_token %}
                                    {% if offerta.id in id_cands %}
                                        <button type="submit" class="del">Rimuovi</button>
                                    {% else %}
                                        <button type="submit" class="candidati">Candidati</button>
                                    {% endif %}
                                </form>
                                <form action="{% url 'favourite' offerta.id%}" class="action-form">
                                    <button type="submit" class="star-button">
                                        {% if offerta.id in id_favs %}
                                            <i class="fa fa-star star-icon clicked"></i>
                                        {% else %}
                                            <i class="fa fa-star star-icon"></i>
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        </td>
                    {% else %}
                        <td>
                            <form action="{% url 'cancella_offerta' offerta.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="del">Elimina</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not offerte %}
            <div class="no-jobs">Nessuna offerta di lavoro</div>
        {% endif %}
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const starButtons = document.querySelectorAll('.star-icon');
        
        starButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                this.classList.toggle('clicked');
                const form = this.closest('form');
                form.submit();
            });
        });
    });
</script>
{% endblock %}
