{%extends "base.html"%}

{% block content %}
<div id="container_intro">
    <section id="section_intro">
        <h2>WorkFlow</h2>
        <p>La piattaforma ideale per connettere talenti e opportunità di lavoro</p>
    </section>
    <section id="features_intro">
        <div class="feature_intro">
            <h3>Bacheca Lavoro</h3>
            <p class="p_intro">Qui, i datori di lavoro possono pubblicare annunci dettagliati, specificando le competenze e le qualifiche richieste. Allo stesso tempo, i candidati possono esplorare un'ampia gamma di offerte, trovando quelle che meglio rispondono alle loro competenze e aspirazioni.</p>
        </div>
        <div class="feature_intro">
            <h3>Candidatura Semplificata</h3>
            <p class="p_intro">I candidati possono rispondere agli annunci direttamente dalla piattaforma. Ogni candidatura viene gestita con attenzione, permettendo ai datori di lavoro di esaminare i profili e le esperienze dei candidati.</p>
        </div>
        <div class="feature_intro">
            <h3>Gestione delle Candidature</h3>
            <p class="p_intro">I datori di lavoro possono facilmente visualizzare tutte le candidature ricevute per ogni annuncio, con la possibilità di accettare o rifiutare i candidati direttamente dalla piattaforma.</p>
        </div>
    </section>
</div>
{%endblock%}




