<!DOCTYPE html>
<html lang="en">
<head>
    <title>workFlow</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    {%load static%}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">

</head>
<body>
    <img type="button" id="icon" src="{% static "images/workFlow.png" %}" alt="Logo">
    <form id="loginForm"method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">log in</button>    
        <a type="button" id="signUp" href="/signup">sign up</a>
    </form>
</body>
</html>
