{%extends "base.html"%}
{% block nav_content %}
    <button id="">
        <a class="a" href="/home">Home</a>
    </button>
    <button id="">
        <a class="a" href="/chats">Chat</a>
    </button>
    {% if tipo == 'datore' %}
        <button id="">
            <a class="a" href="/addOfferta">Aggiungi offerta</a>
        </button>
        <button id="">
            <a class="a" href="/">Offerte</a>
        </button>
        <button id="">
            <a class="a" href="/">Candidature</a>
        </button>
    {% else %}
        <button id="">
            <a class="a" href="/">Candidature</a>
        </button>
        <button id="">
            <a class="a" href="/preferiti">Preferiti</a>
        </button>
    {% endif %}
{% endblock %}


{% block content %}
<form class="form" method="post">
    {% csrf_token %}
    <h3>Nuova offerta</h3>

    {{ form.as_p }}

    <button type="submit">aggiungi offerta</button>    
</form>
{%endblock%}