{% extends "base.html" %}

{% block navcontent %}
    {% if tipo == 'datore' %}
        <button id="">
            <a class="a" href="/addOfferta">Aggiungi offerta</a>
        </button>
    {% elif tipo == 'candidato' %}
        <button id="">
            <a class="a" href="/preferiti">Preferiti</a>
        </button>
    {% endif %}
{% endblock %}


{% block content %}
<form class="form" method="post">
    {% csrf_token %}
    <h3>Sign up</h3>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="username">Username:</label>
                <input name="username" id="username" class="form-control" required>
            </div>
            <div class="col" >
                <label for="password">Password:</label>
                <input name="password" id="password" class="form-control" required>
                </div>
        </div>  
        <div class="row">
            <div class="col" >
                <label for="nome">Nome:</label>
                <input name="nome" id="nome" type="text" class="form-control" required>
            </div>
            <div class="col" >
                <label for="cognome">Cognome:</label>
                <input name="cognome" id="cognome" type="text" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="email">Email:</label>
                <input name="email" id="email" type="email" class="form-control" required>
            </div>
            
            <div class="col">
                <label for="type">Tipo utente:</label>
               <select id="type" name="type">
                    <option value="candidato"> candidato</option>
                    <option value="datore">datore</option>
               </select> 
            </div>
        </div>
    </div>

    <button type="submit">Successivo</button>
    <p class="p">Hai già un account? <a id="login" href="/login"> Login</a></p>
</form>

{% if message %}
    <div class="mt-3 ">
        <div class="alert error alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
{% endif %}

{% endblock %}
